Repository gardener/hvpa-controller, pull requests merged in 2019-09, with the labels that each got.

#19 HVPA now supports UpdateMode "off" for HPA and VPA
  .ci/integration_test
  config/crds/autoscaling_v1alpha1_hvpa.yaml
  config/samples/autoscaling_v1alpha1_hvpa.yaml
  kubernetes/20-hvpa_crd.yaml
  kubernetes/80-autoscaling_v1alpha1_hvpa.yaml
  pkg/apis/autoscaling/v1alpha1/hvpa_types.go
  pkg/apis/autoscaling/v1alpha1/hvpa_types_test.go
  pkg/apis/autoscaling/v1alpha1/zz_generated.deepcopy.go
  pkg/controller/hvpa/hvpa_controller.go
  pkg/controller/hvpa/hvpa_controller_suite_test.go
Labels: needs/ok-to-test

#24 Minor fixes
  pkg/apis/autoscaling/v1alpha1/hvpa_types.go
  pkg/controller/hvpa/hvpa_controller.go
Labels: needs/ok-to-test

#26 Add labels to HPA and VPA from their their templates
  Dockerfile
  api/v1alpha1/hvpa_types.go
  api/v1alpha1/hvpa_webhook.go
  config/crd/bases/autoscaling.k8s.io_hvpas.yaml
  config/samples/autoscaling_v1alpha1_hvpa.yaml
  controllers/hvpa_controller.go
  controllers/suite_test.go
  kubernetes/20-hvpa_crd.yaml
Labels: needs/ok-to-test

#33 Update selector in the internal cache of required
  controllers/hvpa_controller.go
Labels: reviewed/ok-to-test

#29 Added goals and updated spec links to the README.md.
  README.md
Labels: needs/ok-to-test, reviewed/ok-to-test

#28 Change in image repo in Makefile
  Makefile
Labels: needs/ok-to-test

#34 Use `ObjectMeta.GenerateName` while creating HPA and VPA resources
  Gopkg.lock
  Gopkg.toml
  Makefile
  api/v1alpha1/hvpa_types_test.go
  api/validation/hvpa.go
  config/samples/autoscaling_v1alpha1_hvpa.yaml
  controllers/controller_ref_manager.go
  controllers/hpa_util.go
  controllers/hvpa_controller.go
  controllers/hvpa_controller_test.go
  controllers/suite_test.go
  controllers/vpa_util.go
  go.mod
  kubernetes/80-autoscaling_v1alpha1_hvpa.yaml
  vendor/k8s.io/apimachinery/pkg/api/equality/semantic.go
  vendor/k8s.io/apimachinery/pkg/api/validation/doc.go
  vendor/k8s.io/apimachinery/pkg/api/validation/generic.go
  vendor/k8s.io/apimachinery/pkg/api/validation/objectmeta.go
  vendor/k8s.io/apimachinery/pkg/apis/meta/v1/validation/validation.go
  vendor/k8s.io/client-go/discovery/fake/discovery.go
  vendor/k8s.io/client-go/testing/actions.go
  vendor/k8s.io/client-go/testing/fake.go
  vendor/k8s.io/client-go/testing/fixture.go
  vendor/modules.txt
  vendor/sigs.k8s.io/controller-runtime/pkg/runtime/signals/signal.go
Labels: needs/ok-to-test, reviewed/ok-to-test

#36 Changing HPA version from v2beta2 to v2beta1
  api/v1alpha1/hvpa_types.go
  api/v1alpha1/hvpa_types_test.go
  api/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/autoscaling.k8s.io_hvpas.yaml
  config/samples/autoscaling_v1alpha1_hvpa.yaml
  controllers/controller_ref_manager.go
  controllers/hpa_util.go
  controllers/hvpa_controller.go
  controllers/hvpa_controller_test.go
  controllers/suite_test.go
  kubernetes/80-autoscaling_v1alpha1_hvpa.yaml
  vendor/modules.txt
Labels: reviewed/ok-to-test

#37 Fix in logging statements
  controllers/controller_ref_manager.go
Labels: needs/ok-to-test

#39 Performance test with >220 node cluster.
  docs/performance-tests/220 node cluster/README.md
  docs/performance-tests/220 node cluster/images/api-request-latency-etcd-main-latency.png
  docs/performance-tests/220 node cluster/images/api-request-rate-apiserver-scale.png
  docs/performance-tests/220 node cluster/images/api-request-rate-ccm-scale.png
  docs/performance-tests/220 node cluster/images/api-request-rate-etcd-events-scale.png
  docs/performance-tests/220 node cluster/images/api-request-rate-etcd-main-scale.png
  docs/performance-tests/220 node cluster/images/api-request-rate-kcm-scale.png
  docs/performance-tests/220 node cluster/images/api-request-rate-kube-scheduler-scale.png
  docs/performance-tests/220 node cluster/images/api-request-rate-latency.png
  docs/performance-tests/220 node cluster/images/api-request-rate-node-ca-scale.png
  docs/performance-tests/220 node cluster/images/api-request-rate-pods-nodes-prometheus-scale.png
  docs/performance-tests/220 node cluster/images/apiserver-connectivity.png
  docs/performance-tests/220 node cluster/images/apiserver-replicas.png
  docs/performance-tests/220 node cluster/images/apiserver-requests-by-client-all.png
  docs/performance-tests/220 node cluster/images/apiserver-requests-by-resource-all.png
  docs/performance-tests/220 node cluster/images/apiserver-requests-by-resource-by-client-configmaps-secrets.png
  docs/performance-tests/220 node cluster/images/apiserver-requests-by-resource-rest.png
  docs/performance-tests/220 node cluster/images/apiserver-requests-by-resources.png
  docs/performance-tests/220 node cluster/images/apiserver-requests-latency.png
  docs/performance-tests/220 node cluster/images/apiserver-vertical-scaling.png
  docs/performance-tests/220 node cluster/images/ca-scaling.png
  docs/performance-tests/220 node cluster/images/containers-to-container-comparison-by-max-resources.png
  docs/performance-tests/220 node cluster/images/etcd-events-scaling.png
  docs/performance-tests/220 node cluster/images/etcd-events-summary.png
  docs/performance-tests/220 node cluster/images/etcd-main-scaling-connectivity.png
  docs/performance-tests/220 node cluster/images/etcd-main-scaling.png
  docs/performance-tests/220 node cluster/images/etcd-main-summary.png
  docs/performance-tests/220 node cluster/images/etcd-request-rate-latency.png
  docs/performance-tests/220 node cluster/images/kcm-scaling.png
  docs/performance-tests/220 node cluster/images/kube-apiserver-scaling-connectivity.png
  docs/performance-tests/220 node cluster/images/kube-scheduler-scaling.png
  docs/performance-tests/220 node cluster/images/mcm-scaling.png
  docs/performance-tests/220 node cluster/images/node-pod-scaling.png
  docs/performance-tests/220 node cluster/images/nodes-mcm-scale.png
  docs/performance-tests/220 node cluster/images/workload-configmaps-secrets-pods.png
  docs/performance-tests/220 node cluster/images/workload-events.png
  docs/performance-tests/220 node cluster/images/workload-everything-else.png
  docs/performance-tests/220 node cluster/images/workload-namespaces-services-serviceaccounts.png
  docs/performance-tests/220 node cluster/images/workload-nodes-etc.png
  docs/performance-tests/220 node cluster/images/workload-registered-watchers.png
  docs/performance-tests/220 node cluster/images/workload-request-rate-by-verb-insignificant.png
  docs/performance-tests/220 node cluster/images/workload-request-rate-get.png
  docs/performance-tests/220 node cluster/images/workload-request-rate-list.png
  docs/performance-tests/220 node cluster/images/workload-request-rate-patch.png
  docs/performance-tests/220 node cluster/images/workload-request-rate-post.png
  docs/performance-tests/220 node cluster/images/workload-request-rate-put.png
  docs/performance-tests/220 node cluster/images/workload-request-rate-watch.png
  docs/performance-tests/220 node cluster/images/workload-request-rate.png
  docs/performance-tests/220 node cluster/images/workload-scheduling-pods-nodes.png
  docs/performance-tests/220 node cluster/images/workload-scheduling.png
Labels: needs/ok-to-test

#40 Fixed machine type in the latest performance test results.
  docs/performance-tests/220 node cluster/README.md
Labels: needs/ok-to-test
