Repository gardener/hvpa-controller, pull requests merged in 2022-06, with the labels that each got.

#98 Cap requests to existing limits, if ControlledValues: RequestsOnly is set
  controllers/hvpa_controller.go
  controllers/hvpa_controller_test.go
Labels: needs/ok-to-test, needs/changes, size/m

#99 cherry-pick Cap requests to existing limits, if ControlledValues: RequestsOnly is set (#98)
  controllers/hvpa_controller.go
  controllers/hvpa_controller_test.go
Labels: needs/ok-to-test, reviewed/lgtm, size/m

#100 Update PR template
  .github/pull_request_template.md
Labels: needs/ok-to-test, needs/review, size/xs
